APP_NAME= "Arena Booking com ia"
APP_ENV=production
APP_KEY=base64:Nn9PqiJpa1+pgOSDgkwbd+b3zvHm3Ql9S9yxaHpbsXs=
APP_DEBUG=false
APP_URL=http://200.234.218.159

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=arena_db
DB_USERNAME=root
DB_PASSWORD=F@spmpa2600Tec

WHATSAPP_TOKEN=EAA9uZAyc2plwBRl6moZCXtGxD5e5LpxFOVEJnKMyNWpiZATXw4TAmjjjIliG20D2caxE4MzsWo3ASiAqNW0YtPZAf583u5tyy9lEzyyb3GFY2rdA5miZBTzBZAR9vbidoKkCO2AHYfI42haVNWRBKesat38kLDDAbV7QP0k1JJat8L0OyexWIsjpSIDqnHfOEZBMwvv09SDWwl1i1IbgMwZAanNgZAi6SyagLTAVCOH9TZAd0vU4Xrm058mOX4KZBpHsf52qnwLZC2REfPNNZAx9gS0iZAxJwB1hkXStPPsQZDZD
WHATSAPP_PHONE_NUMBER_ID=1220989701088127
WHATSAPP_BUSINESS_ACCOUNT_ID=1011854994708332
WHATSAPP_VERIFY_TOKEN=arena_booking_ia_2026
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
